TourOperationsClient_991531576/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FinalTourService_991531576" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FinalTourService_991531576" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TourInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TourId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TourInfo" nillable="true" type="tns:TourInfo" />
  <xs:complexType name="ArrayOfTourInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TourInfo" nillable="true" type="tns:TourInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTourInfo" nillable="true" type="tns:ArrayOfTourInfo" />
</xs:schema>